body {
    background-color: #fbe3cc;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
  }

    
  ::-webkit-scrollbar {
    width: 7px;
    transition: 300ms;
  }
  
  ::-webkit-scrollbar-track {
    background: #3b3b3b00;
    transition: 300ms;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9FDAE1;
    transition: 300ms;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #77b3b9;
    transition: 300ms;
  }


  header {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.568);
    z-index: 10;
    top: 0px;
    text-decoration: none;
  }

  header img {
    height: 100px;
    position: relative;
    left: -70px;
  }

  header a {
    display: inline;
    padding: 0px 10px;
    position: relative;
    top: -40px;
    color: rgb(235, 235, 235);
    font-family: Montserrat;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
  }

  header a:hover {
    color: #9FDAE1;
  }

  .logo1 {
    position: absolute;
    z-index: 5;
    width: 1700px;
    display: block;
    margin-top: -400px;
    margin-left: -600px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
}

.logo2 {
    display: block;
    position: absolute;
    z-index: 8;
    width: 600px;
    margin-top: 100px;
}

.img1 {
    position: absolute;
    z-index: 5;
    width: 1300px;
    display: block;
    margin-top: 500px;
    right: -400px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    fill: #d2e6b6;
}

.img2 {
    position: absolute;
    z-index: 5;
    width: 500px;
    display: block;
    margin-top: 300px;
    right: 0px;
}

.title {
    position: absolute;
    z-index: 8;
    display: block;
    margin-top: 200px;
    right: 200px;
    text-align: center;
    width: 900px;
}

.title a {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 7px #000000;
    font-family: Montserrat;
    font-weight: bold;
}

.title p {
    color: rgb(250, 250, 250);
    font-size: 40px;
    font-family: Ubuntu;
    text-shadow: 0px 0px 7px #000000;
}

.arrowtitle,
.arrow {
    position: relative;
    display: block;
    font-size: 80px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 7px #000000;
    transition: 300ms;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    text-align: center;
    width: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.arrowtitle {
    display: block;
    margin-top: 70px;
}

.arrow {
    display: block;
    margin-top: 150px;
}

.arrowtitle:hover,
.arrow:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #b6e7ec;
}

.menu {
    position: absolute;
    z-index: 8;
    display: block;
    margin-top: 850px;
    right: -100px;
    text-align: center;
    width: 900px;
}

.menu a {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 7px #000000;
    font-family: Montserrat;
    font-weight: bold;
}

.menu p {
    color: rgb(250, 250, 250);
    font-size: 40px;
    font-family: Ubuntu;
    text-shadow: 0px 0px 7px #000000;
    position: relative;
    top: 100px;
}

.info1 {
    position: absolute;
    z-index: 5;
    width: 1300px;
    display: block;
    margin-top: 1400px;
    right: 500px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    fill: #fdf8e6;
}




.info {
    position: absolute;
    z-index: 8;
    display: block;
    margin-top: 1650px;
    right: 750px;
    text-align: center;
    width: 900px;
}

.infotitle1 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 7px #000000;
    font-family: Montserrat;
    font-weight: bold;
    position: relative;
}

.infotitle2 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 7px #000000;
    font-family: Montserrat;
    font-weight: bold;
    position: relative;
    display: block;
    margin-top: 100px;
}

.info p {
    color: rgb(250, 250, 250);
    font-size: 40px;
    font-family: Ubuntu;
    text-shadow: 0px 0px 7px #000000;
    position: relative;
    top: 20px;
}

.kontakt {
    position: absolute;
    z-index: 5;
    width: 1500px;
    display: block;
    margin-top: 1400px;
    right: -1700px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    fill: #da6b5c;
}

.mark {
    position: absolute;
    z-index: 5;
    width: 1800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    top: 2800px;
    list-style: none;
    justify-content: center;
}

.mark li svg {
    fill: #bd8f76;
    height: 500px;
    filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    position: relative;
    top: -300px;
}

.mark img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    height: 250px;
    z-index:8;
    top: 40px;
}
.mark a {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 8;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    top: 50px;
}

.mark p {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 8;
    cursor: pointer;
    font-style: normal;
    font-family: Ubuntu;
    font-size: 22px;
    color: rgb(224, 224, 224);
    top: 50px;
}

.kont {
    position: absolute;
    z-index: 7;
    display: block;
    margin-top: 1680px;
    right: -1300px;
}

.move {
    position: absolute;
    color: #00000000;
    left: 10000px;
}

.weed {
    position: absolute;
    z-index: 7;
    display: block;
    margin-top: 1900px;
    right: -1100px;
    justify-content: center;
    text-align: center;
}

.weed a {
    display: block;
    text-align: center;
    margin-left: center;
    margin-right: center;
    color: white;
    font-family: Ubuntu;
    font-size: 50px;
    text-shadow: 0px 0px 7px #000000;
}

.weed img {
    height: 350px;
}

.weed a span {
    font-weight: bold;
    color: rgb(44, 247, 145);
}


.ig {
    position: absolute;
    z-index: 7;
    display: block;
    margin-top: 1900px;
    right: -300px;
    justify-content: center;
    text-align: center;
}

.ig a {
    display: block;
    text-align: center;
    margin-left: center;
    margin-right: center;
    color: white;
    font-family: Ubuntu;
    font-size: 50px;
    font-style: normal;
    text-shadow: 0px 0px 7px #000000;
}

.ig img {
    height: 350px;
    cursor: pointer;
}

.member {
    position: relative;
    top: 60px;
}


.moveup {
    position: relative;
    top: -300px;
}

